<% content_for(:title, "Lists | To Do") %>

<h1>Lists</h1>

<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>

<hr>
<h2>Not Done Tasks</h2>
<ul>
  <% @not_done_tasks.each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>

<hr>
<h2>Done Tasks</h2>
<ul>
  <% @done_tasks.each do |task| %>
    <li><%= task.description %></li>
  <% end %>
</ul>


<hr>

<%= link_to "New List", new_list_path %>
